@font-face {
    font-family: 'BeVietnamBold';
    src: url('fonts/bevietnam-bold-webfont.woff2') format('woff2'),
         url('fonts/bevietnam-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'BeVietnam';
    src: url('fonts/bevietnam-regular-webfont.woff2') format('woff2'),
         url('fonts/bevietnam-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  scroll-behavior: smooth;
}

#scroll-button {
  display: inline-block;
  width: 1.25vw;
  height: 1.25vw;
  border-left: 3px solid #000000;
  border-bottom: 3px solid #000000;
  -webkit-transform: rotate(315deg);
  box-sizing: border-box;
}

.social-image {
  max-width: 2vw;
}

ul {
  display:inline;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

#logo {
  float: left;
  padding-top: 3.37vw;
  font-size: 1.875vw;

}

#left-button {
  padding-left: 3.05vw;
}

#right-button {
  margin-right: 5.2vw;
}

#name {
  font-family: PlayfairDisplay;
  color: black;
  text-decoration: none;
  border-bottom: 0.42vw solid #FFD800;
}

.buttons {
  float: right;
  display:block;
  padding-top: 3.37vw;
  font-size: 1.41vmax;
}

a.button-text {
  font-family: PlayfairDisplay;
  color: black;
  text-decoration: none;
  position: relative;
}

a.button-text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.27vw;
  bottom: -0.46vw;
  left: 0;
  background-color: #FF0000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

a.button-text:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.main {
  padding-top: 14.3vw;
  display: inline-block;
  text-align: left;
}

#main-text {
  font-family: BeVietnamBold;
  font-size: 3.5vw;
  max-width: 67.69vw;
  max-height: 52.2vw;
  align-content: left;

  -webkit-animation: fadeInDown 1s; /* Safari, Chrome and Opera > 12.1 */
  animation-name: fadeInDown 1s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#dnd {
  color: #FFD800;
}
.header-container {
  padding-right: 3.05vw;
  padding-left: 5.52vw;
}
.body {
  padding-right: 3.05vw;
  padding-left: 5.52vw;
  padding-top: 4.10vw;
}

.email-link {
  font-family: PlayfairDisplay;
  color: black;
  text-decoration: none;
  border-bottom: 0.32vw solid #729FCB;
  font-size: 1.4vw;
}



.container {
  padding-top: 5.2vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}

.right {
  justify-content: flex-end;
}

.social-buttons >li{
  display:inline-block;
  zoom:1;
  *display: inline;
  margin: 0.5vw;
}

#work-header {
  padding-top: 1.45vw;
  padding-bottom: 3vw;
}

#work-header-text {
  font-family: BeVietnamBold;
  font-size: 3.06vw;
}

#work {
  color: #FFE200;
}

.ltr-description {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 7vw;
  display: -webkit-inline-box;
}

.ltr-img {
  justify-content: flex-end;
}

.product {
  justify-content:flex-start;
  vertical-align: top;
  border-right: 1px solid #707070;
  max-width: 31.04vw;
}

#middle-product {
  padding-right: .5vw;
}

#last-product {
  padding-right: 9.68vw;
}

#portfolio-img {
  max-height: 15.3vw;
  padding-right: 4.5vw;
}

.product-name {
  font-size: 2.62vw;
  font-family: BeVietnamBold;
  margin-top: auto;
}

.product-description {
  max-width: 22.3vw;
}

.product-description-text {
  font-size: 1.31vw

}

.skills-description {
  font-family: BeVietnamBold;
  font-size: 1.31vw;

}

.bold-description {
  font-family: BeVietnamBold;
}

.results {
  vertical-align: top;
  padding-left: 3vw;
  max-width: 18.2vw;
}

.results-header {
  font-size: 2vw;
  color: black;
  font-family: BeVietnam;
}

.rtl-description {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 100%;
  padding-bottom: 5vw;
  display: -webkit-inline-box;
}

.footer-container {
  text-align: center;
}

.footer {
  width: 100%;
  display:block;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}

.seen-like {
  padding-top: 2vw;
}

.seen-like-text {
  font-family: PlayfairDisplay;
  font-size: 1.31vw;
  padding-bottom: 0.5vw;
}

#footer-link {
  margin-left: .5vw;
}

#center-social-buttons {
  padding-bottom: 1.83vw;
}

#other-projects-header-text {
  font-size: 3.06vw;
  font-family: BeVietnamBold;
}

#other-projects-container {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.other-project-thumbnail {
  max-width: inherit;
  max-height: 25vw;
}

#wednesdays-image {
  max-height: 24.3vw;
  padding-right: 4vw;
}

#democritus-image {
  max-height: 20.3vw;
  padding-right: 4vw;
}

#left-image-container {
  max-width: 25vw;
}
#center-image-container {
  max-width: 20vw;
}

#middle-desc {
  max-width: 25vw;
}

.other-project-title {
  font-size: 2.18vw;
  font-family: BeVietnam;
}
