/*
LANDING PAGE
*/
#intro-text{
	padding-top: 22vh;	
}

#intro-text-container {
	max-width: 20rem;
}

#first-text {
	font-size: 1.25rem;
	font-weight: 300;
	color: #1e1e1e;
	letter-spacing: .025rem;
}

#name-logo {
	padding-top: 5vh;
}
.name-big {
	font-size: 10vw;
	letter-spacing: -0.5vw;
	text-align: end;
	font-weight: 700;
}
#all-my-stuff {
	margin-left: 14vw;
	padding-top: 11.5vh;
}

/*
WORK IVE DONE
*/

#bayt-image {
	width: 20rem;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.small-item {
	display: inline-block;
	text-align: center;
	box-shadow: 4px 5px 5px #B1B1b1;
	height: 20rem;
	width: 24rem;
	margin: 0.5vw;
	border-radius: 4px;
	transition: all .2s ease-in-out;
}

.small-item:hover {
	transform: scale(1.01);
}

#aligned-items {
	margin-top: 1vw;
	display: inline-flex;
	text-align: center;
}

#left-item {
	display: flex; 
	align-items: center; 
	justify-content: center; 
	text-align: center;
	background-image: radial-gradient(#ffffff, #CEE1FF);
}

#right-item {
	background-color: #231352;
}

#democritus {
	max-width: 95%;
	max-height: 100%;
}

#large-item-container {
	margin-top: 5vw;
	display: inline-flex;
	width: 49rem;
}



#large-item {
	height: 20rem;
	width: 100%;
	background-image: radial-gradient(#A72E3B, #85152C);
	box-shadow: 8px 9px 9px #B1B1b1;
	border-radius: 10px;

	transition: all .2s ease-in-out;
	
	display: flex; 
	align-items: center; 
	justify-content: center; 
	text-align: center;
}

#large-item:hover {
	transition: all .2s ease-in-out;
	transform: scale(1.01);
}







#portfolio-items {
	margin-left: 14vw;
	text-align: center;
}

#portfolio-items-wrapper {
	margin: auto;
}




