@charset "UTF-8";

a {
	text-decoration: none;

}
a p {
	font-weight: 300;
}

p {
	margin: 0;
	padding: 0;
}

.large-body-text {
	font-size: 2.5rem;
	font-weight: 300;
}
.medium-large-body-text {
	font-size: 1.5rem;
	font-weight: 300;
	color: #1e1e1e;
}
.medium-body-text {
	font-size: 1.35rem;
	font-weight: 300;
	color: #1e1e1e;
}

.small-body-text {
	font-size: 1.25rem;
	font-weight: 300;
	color: #1e1e1e;
	line-height: 2.25rem;
}

.xsmall-body-text {
	font-size: 1rem;
	font-weight: 300;
	color: #1e1e1e;
}

.sub-header {
	font-size: 2rem;
}

.header {
	font-size: 2.5rem;
	font-weight: 700;
	color: #1e1e1e;
}

.bolded {
	font-weight: bold;
}

.white {
	color: #ffffff;
}

#get-in-touch {
	transition: all .2s ease-in-out;
}

#get-in-touch:hover {
	transform: scale(1.01);
}

.sticky-side {
	position: fixed;
	width: 12vw;
}

#small-name {
	color: #adadad;
	font-size: 1.25rem;
	letter-spacing: -0.1vw;
}

.sticky-side-text {
	font-size: 1.25rem;
	font-weight: 300;
	color: #1e1e1e;
}

.side-nav {
	padding-top: 13.6vh;
}

.side-nav * {
	margin-bottom: 1.6vh;
	transition: all .2s ease-in-out;
}

.side-nav *:hover {
	transform: scale(1.01);
}


.right-aligned-text {
    text-align: right;
}

.footer {
	height: inherit;
	width: auto;
	margin-left: -4.16vw;
	margin-right: -4.16vw;
	margin-top: 15vh;
	margin-bottom: -8px;
	background-color: white;
	box-shadow: 0px -4px 6px #DEDEDE;
}

.footer-content-container {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 7rem;
	margin: auto;
	width: 20%;
}

.footer-content {
	padding-top: 2rem;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
html {
	background-color: #fcfdff;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	margin-left: 4.16vw;
	margin-right: 4.16vw;
	margin-top: 5.74vh;
	margin-bottom: 0;
}




